<!DOCTYPE html>

<html ng-app="ToDoListApp">
<head>
    <meta charset="utf-8"/>
    <title>ToDo List</title>
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/ngStorage.min.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="app.js"></script>

    <style>
        .task.task-done .task-name{
            text-decoration: line-through;
        }
        .task.task-done .task-name{
            text-decoration: line-through;
        }
    </style>

</head>

<body ng-controller="ToDoListCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            Что-то вроде Google Keep
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <label for="new-task-name">Задача:</label>
            <input id="new-task-name" class="form-control"
                   ng-model="newTaskName" />

            <label for="new-task-description">Описание:</label>
            <input id="new-task-description" class="form-control"
                   ng-model="newTaskDescription" />

            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewTask()">+</button>
            </span>
        </div>

        <div class="container">
            <div class="row task"
                 ng-repeat="task in tasks | orderBy:'done'"
                 ng-class="{'task-done': task.done}"
            >
                <div class="row">
                    <div class="col-md-1"><input type="checkbox" ng-model="task.done" /></div>
                    <div class="col-md-8 task-name"><span>{{task.name}}</span></div>
                    <div class="col-md-1"><button ng-click="toggleShown(task)">Details</button></div>
                </div>
                <div class="row task-description" ng-hide="!task.shown">
                    {{task.description}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
