﻿<!DOCTYPE html>

<html ng-app="courseListApp">
<head>
    <title>Планировщик курсов</title>
    <script src="../libraries/angular.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />

    <script>
        // Модель

        var model = {
            user: "User1",
            courses: [{ name: "HTML, CSS", passed: "Yes" },
                { name: "JavaScript Essential", passed: "Yes" },
                { name: "JavaScript Advanced", passed: "Yes" },
                { name: "HTML5 &amp; CSS3", passed: "No" },
                { name: "AngularJS", passed: "No" }]
        };

        // Модуль

        var courseListApp = angular.module("courseListApp", []);

        // Контроллер

        courseListApp.controller("CourseListCtrl", function ($scope) {

            $scope.data = model;

            // Обработчик нажатия по кнопке
            $scope.addNewCourse = function () {

                $scope.data.courses.push({
                    name: $scope.courseName,
                    passed: "No"
                });

                $scope.courseName = "";
            }
        });

    </script>

</head>

<body ng-controller="CourseListCtrl">
    <div class="container">
        <div class="page-header">
            <h1>
                Планировщик курсов.
            </h1>
            <h3>Пользователь: {{data.user}}. Количество курсов - {{data.courses.length}}</h3>
        </div>
        <div class="panel">
            <div class="input-group">
                <!-- ng-model позволяет привязать данные введенные в поле ввода к свойству $scope.courseName -->
                <input class="form-control" ng-model="courseName" />
                <span class="input-group-btn">
                    <!-- ng-click определяет функцию обработчик на нажатие -->
                    <button class="btn btn-default" ng-click="addNewCourse()">Добавить</button>
                </span>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Курс</th>
                        <th>Пройден</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in data.courses">
                        <td>{{course.name}}</td>
                        <td>{{course.passed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

