﻿<!DOCTYPE html>

<html ng-app="courseListApp">
<head>
    <title>Планировщик курсов</title>
    <script src="../libraries/angular.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />

    <script>
        // Модель

        var model = {
            user: "User1",
            courses: [{ name: "HTML, CSS", passed: true },
                { name: "JavaScript Essential", passed: true },
                { name: "JavaScript Advanced", passed: true },
                { name: "HTML5 &amp; CSS3", passed: false },
                { name: "AngularJS", passed: false }]
        };

        // Модуль

        var courseListApp = angular.module("courseListApp", []);

        // Контроллер

        courseListApp.controller("CourseListCtrl", function ($scope) {

            $scope.data = model;

            // Обработчик нажатия по кнопке
            $scope.addNewCourse = function () {

                $scope.data.courses.push({
                    name: $scope.courseName,
                    passed: false
                });

                $scope.courseName = "";
            };

            $scope.showText = function (passed) {
                return passed ? "Да" : "Нет";
            };

            $scope.setStyle = function (passed) {
                return passed ? "color:green" : "color:red; font-weight: bold";
            }
        });

    </script>

</head>

<body ng-controller="CourseListCtrl">
    <div class="container">
        <div class="page-header">
            <h1>
                Планировщик курсов.
            </h1>
            <h3>Пользователь: {{data.user}}. Количество курсов - {{data.courses.length}}</h3>
        </div>
        <div class="panel">
            <div class="input-group">
                <input class="form-control" ng-model="courseName" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addNewCourse()">Добавить</button>
                </span>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Курс</th>
                        <th></th>
                        <th>Пройден</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in data.courses">
                        <td>{{course.name}}</td>
                        <!-- CheckBox чрез директиву ng-model связан со свойством passed -->
                        <td><input type="checkbox" ng-model="course.passed" /></td>
                        <td>
                            <span style="{{setStyle(course.passed)}}">
                                {{showText(course.passed)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
