<!DOCTYPE html>

<html ng-app="ToDoListApp">
<head>
    <meta charset="utf-8"/>
    <title>ToDo List</title>
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/ngStorage.min.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="app.js"></script>

    <style>
    </style>

</head>

<body ng-controller="ToDoListCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            Опросничек
        </h1>
    </div>
    <div class="panel" ng-switch="getCurrentPage()">
        <button ng-click="reset()">Restart</button>

        <div class="container" ng-switch-when="results">
            Your score: {{score}}/{{questions.length}}
        </div>

        <div class="container" ng-switch-when="list">
            <div class="row"
                 ng-repeat="q in questions | filter:{answered: false}"
            >
                <div class="col-md-1"><button ng-click="goToQuestion(q)">ответить</button></div>
                <div class="col-md-8">{{q.text}}</div>
            </div>
        </div>

        <div class="container" ng-switch-when="question">
            <div class="row"
                 ng-repeat="ans in currentQuestion.variants"
            >
                <input type="radio" ng-click="answerQuestion(currentQuestion, ans)"/>{{ans.text}}
            </div>
        </div>
    </div>
</div>
</body>
</html>
