﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SampleApp">
<head>
    <title>ng-switch</title>

    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <script src="app.js"></script>

</head>
<body ng-controller="SampleAppCtrl">

    <div class="container">
        Шаблон <select ng-model="selected" ng-options="item.display for item in options track by item.value"></select>

        <!-- ng-switch - директива используется для переключения структуры DOM на основе выражения. В отличии от ng-include данная
             директива не прозводит загрузку с сервера данных, а делает видимым один из элементов, который есть в DOM -->

        <div ng-switch on="selected.value" style="margin-top:20px;">

            <table class="table" ng-switch-when="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </table>

            <ul class="list-group" ng-switch-when="list">
                <li ng-repeat="item in items" class="list-group-item list-group-item-info">{{item.name}}:{{item.value}}</li>
            </ul>

            <ol class="list-group" ng-switch-when="budges">
                <li ng-repeat="item in items" class="list-group-item">
                    <span class="badge">{{item.value}}</span>
                    {{item.name}}
                </li>
            </ol>
        </div>
    </div>
</body>
</html>
