<!DOCTYPE html>

<html ng-app="ToDoListApp">
<head>
    <meta charset="utf-8"/>
    <title>ToDo List</title>
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/ngStorage.min.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="app.js"></script>

    <style>
        .done-task :nth-child(2){
            text-decoration: line-through;
        }
    </style>

</head>

<body ng-controller="ToDoListCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            Что-то вроде Google Keep
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <label for="new-task-name">Задача:</label>
            <input id="new-task-name" class="form-control"
                   ng-model="newTaskName" />

            <label for="new-task-description">Описание:</label>
            <input id="new-task-description" class="form-control"
                   ng-model="newTaskDescription" />

            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewTask()">+</button>
            </span>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Задача</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks | orderBy:'done'"
                ng-class="{'done-task': task.done}"
            >
                <td><input type="checkbox" ng-model="task.done" /></td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
