<!DOCTYPE html>

<html ng-app="ToDoListApp">
<head>
    <meta charset="utf-8"/>
    <title>ToDo List</title>
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/ngStorage.min.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="app.js"></script>

    <style>
    </style>

</head>

<body ng-controller="ToDoListCtrl">
<div class="container">
    <h2 class="panel-heading">Registration</h2>

    <form class="form-horizontal" ng-if="!submitted">
        <div class="form-group row">
            <label for="input-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input-name" placeholder="Name"
                       ng-model="data.name.value" ng-change="validate('name')" >
                <div class="alert alert-danger" ng-if="data.name.touched && !data.name.valid">
                    Имя должно быть не короче 6 символов
                </div>
                <div class="alert alert-danger" ng-if="!data.name.touched && tried_submit">
                    Это поле обязательно
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="input-email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="input-email" placeholder="Email"
                       ng-model="data.email.value" ng-change="validate('email')" >
                <div class="alert alert-danger" ng-if="data.email.touched && !data.email.valid">
                    Введите корректный e-mail
                </div>
                <div class="alert alert-danger" ng-if="!data.email.touched && tried_submit">
                    Это поле обязательно
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="input-phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input-phone" placeholder="Phone"
                       ng-model="data.phone.value" ng-change="validate('phone')" >
                <div class="alert alert-danger" ng-if="data.phone.touched && !data.phone.valid">
                    Введите номер в виде +380951112233 или +38 095 111 22 33
                </div>
                <div class="alert alert-danger" ng-if="!data.phone.touched && tried_submit">
                    Это поле обязательно
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="input-pswd" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="input-pswd" placeholder="Password"
                       ng-model="data.password.value" ng-change="validate('password')" >
                <div class="alert alert-danger" ng-if="data.password.touched && !data.password.valid">
                    Слишком короткий пароль
                </div>
                <div class="alert alert-danger" ng-if="!data.password.touched && tried_submit">
                    Это поле обязательно
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="input-pswd-conf" class="col-sm-2 control-label">Confirm password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="input-pswd-conf" placeholder="Confirm password"
                       ng-model="data.passwordConfirm.value" ng-change="validate('passwordConfirm')" >
                <div class="alert alert-danger" ng-if="data.passwordConfirm.touched && !data.passwordConfirm.valid">
                    Пароли не совпадают
                </div>
                <div class="alert alert-danger" ng-if="!data.passwordConfirm.touched && tried_submit">
                    Это поле обязательно
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submit()">Sign up</button>
            </div>
        </div>
    </form>

    <div class="row" ng-if="submitted">
        <div class="col-sm-10">
            Регистрация прошла успешно
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default" ng-click="reset()">Класс! Давай еще!</button>
        </div>
    </div>
</div>
</body>
</html>
