﻿<!DOCTYPE html>
<html ng-app="SampleApp">
<head>
    <!--
        one-way data binding - данные берутся из модели и размещаются в пользовательском интерфейсе.
        Если значение свойства модели привязанного к интерфейсу обновляется, то интерфейс обновляется автоматически.
    -->
    <title>One way data-binding</title>

    <script src="../Libraries/angular.js"></script>

    <script>
        var app = angular.module("SampleApp", []);

        app.controller("SampleAppCtrl", function ($scope) {
            $scope.items = [{ name: "Item 1", value: "Value 1" },
                { name: "Item 2", value: "Value 2" },
                { name: "Item 3", value: "Value 3" }];
        });

    </script>
</head>
<body>
    <div ng-controller="SampleAppCtrl">

        <!-- {{ }} - однонаправленная привязка от модели к представлению -->
        <div>There are {{items.length}} items</div>

        <div>
            <!-- ng-bind - директива выполняющая замену HTML содержимого элемента на значение полученное через установленное выражение привязки -->
            There are <span ng-bind="items.length"></span> items
        </div>

        <!-- ng-bind-template - директива, которая замещает содержимое элемента данными полученными в результате выполнения выражения привязки, в отличии от ng-bind директива ng-bind-template может содержать несколько {{ }} выражений -->
        <div ng-bind-template="First item: {{items[0].name}}. Second item: {{items[1].name}}"></div>

        <!--ng-non-bindable - указывает, что содержимое элемента не должно компилироваться и в нем не должна происходить привязка данных-->
        <div ng-non-bindable>
            AngularJS uses {{and}} characters for templates
        </div>
    </div>
</body>
</html>

