<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta charset="utf-8"/>
    <title>ToDo List</title>
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/ngStorage.min.js"></script>
    <link href="../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("MyApp", [
        ]).controller("MyCtrl", function ($scope) {
            $scope.classes = [
                {classname:'done-task', set: false},
                {classname:'right-aligned', set: false},
                {classname:'padded', set: false}
            ];
            $scope.generateClasses = function () {
                var result = '';
                angular.forEach($scope.classes, function (item) {
                    if (item.set) result += item.classname + ' ';
                });
                return result;
            }
        });
    </script>

    <style>
        .done-task {
            text-decoration: line-through;
            color: gray;
        }
        .right-aligned {
            font-weight: bold;
            text-align: right;
        }
        .padded {
            padding: 20px;
        }

    </style>

</head>

<body ng-controller="MyCtrl">
<div class="container">
    <div class="page-header">
        <h1>
            Давайте играться со шрифтами
        </h1>
    </div>
    <div class="panel">
        <form class="form-horizontal" >
            <div class="form-group row" ng-repeat="item in classes">
                <label for="cls-{{item.classname}}" class="col-sm-2 control-label">{{item.classname}}</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="cls-{{item.classname}}" ng-model="item.set">
                </div>
            </div>
        </form>

        <div class="container" ng-class="generateClasses()">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>
</div>
</body>
</html>
